html{
    background: linear-gradient(to right, rgb(218, 15, 116) ,rgb(97, 5, 92));
}
*{
    padding: 0px;
    margin: 0px;
}

.container{
    justify-content: space-between;
    display: flex;   
    margin-top: 250px;
    align-items: center;
    margin-left: 300px;
    color: white;
    line-height: 15px;
}
img{
    margin-left: 200px;
    margin-bottom: 100px;
    justify-content: center;
    width: 500px;
    height: 350px;
}
.main{
    width: 400px;
    height: auto;
   text-align: center;
   
}
i{
    width: 50px;
    height: 50px;
    padding-top: 15px;

}