html{
    background: linear-gradient(to top right,rgb(207, 154, 207),rgb(47, 4, 82));
    width: 100%;
    height: 100%;
    color: white;
}
h3{
    margin-top: 100px;
    font-size: 60px;
    text-align: center;
    font-weight: 1px;
}
.content{
    margin-top: 100px;
   text-align: center;
    width: 400px;
    height: auto;
    margin-left: 480px;
}
a{
    text-decoration: none;
    color: rgb(71, 7, 100);
}
i{
    padding-left: 10px;
}